<div class="p-8 bg-white w-full mb-32">
    <div class="max-w-6xl w-full mx-auto my-14">
        <h4 id="titulo-estoque" class="text-4xl text-gray-600 font-semibold">Últimas notícias sobre o <span class="text-green-700">Taiksu Office</span></h4>


        <div id="cards-estoque" class="grid grid-cols-2 items-center gap-14 min-h-[50vh]">

            <a href="https://medium.com/@gustavoconte.design/do-mvp-ao-pilar-estratégico-a-construção-do-erp-da-taiksu-em-2-anos-f9a0bd611766" class="col-span-2 rounded-3xl h-[320px] w-full text-left flex flex-row gap-4">
                <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*R7SznV1Cl8FKtoTuFDiqhQ.png" class="w-[600px] object-cover rounded-3xl">

                <div class="flex flex-col justify-between py-8">
                    <h4 class="text-4xl font-bold text-gray-700">Do MVP ao pilar estratégico:<br> A construção do ERP da Taiksu<br> em 2 anos</h4>
                    <p class="text-xl font-medium text-gray-500">Como criamos um ERP em 45 dias sem saber<br> a dimensão do que estávamos fazendo e como<br> ele virou o pilar da franquia</p>
                    <span class="text-green-600 font-semibold mt-10 px-4 py-1 rounded-full bg-green-100 w-32 text-center">Ler mais</span>
                </div>
            </a>

            <a href="https://medium.com/@gustavoconte.design/do-mvp-ao-pilar-estratégico-a-construção-do-erp-da-taiksu-em-2-anos-f9a0bd611766" class="hidden col-span-1 rounded-3xl h-[350px] w-full text-left flex flex-col justify-center">
                <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*R7SznV1Cl8FKtoTuFDiqhQ.png" class="w-full object-cover rounded-3xl">
                <h4 class="text-xl font-semibold text-gray-700 mt-4">Do MVP ao pilar estratégico:<br> A construção do ERP da Taiksu em 2 anos</h4>
            </a>
        </div>
    </div>
</div>