<div id="header-container" class="fixed top-5 w-full max-w-7xl  px-16 flex items-center gap-4 justify-center z-50">
    <header id="header" class="rounded-full w-full border border-white/80 max-w-7xl flex items-center justify-between py-4 px-6 bg-white/90 backdrop-blur-sm shadow-md/4">
        <div class="flex flex-row w-full items-center justify-between">
            <div class="flex flex-row gap-10 items-center">
                <a href="/office">
                    <img src="https://www.taiksu.com.br/images/logo/logotipo.png" class="h-5 cursor-pointer"/>
                </a>
            </div>
        </div>
    </header>
    <a href="https://office.taiksu.com.br" class="bg-green-600 hover:bg-green-700 font-semibold text-md whitespace-nowrap backdrop-blur-sm shadow-md/5 border border-white/40 text-lg text-white px-8 py-3 rounded-full transition-colors duration-200">Fazer login</a>
</div>


