<div class="w-full max-w-7xl mx-auto flex flex-col items-center pb-32">
    <h1 class="text-4xl font-semibold text-gray-700">Tem muito mais.<span class="text-gray-500"> Um app para cada desafio.</span></h1>    
    <div class="grid grid-cols-6 gap-10 mx-auto mt-8">
        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/6967173ec2616.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Visão Geral</h3>
        </div>

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center shadow-2xl/10">
            <img src="https://login.taiksu.com.br/applications/699a309109846.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Resíduos</h3>
        </div>

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/69d956794e888.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Estoque</h3>
        </div>  

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/69c2e0d08f47c.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Comprar</h3>
        </div>  

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/6a32bc30cd4f6.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Painel Samurai</h3>
        </div>  

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/68f71e36d0269.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Pagamentos</h3>
        </div> 

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/68b706a9bfdb4.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Equipe</h3>
        </div> 

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/6a0cc6f862e27.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">CMV</h3>
        </div>  

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/6919e90dd6d89.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Conversas</h3>
        </div> 

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/6915d6099be99.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Ajuda</h3>
        </div> 


        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/68b705f74fe5d.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Vistorias</h3>
        </div> 

        <div class="flex flex-col gap-2 items-center">
            <div class="p-8 rounded-xl bg-white border border-gray-200 flex flex-col items-center justify-center">
            <img src="https://login.taiksu.com.br/applications/6976b99917d57.png" class="w-16 h-16">
        </div>
        <h3 class="text-sm text-gray-500">Pontos</h3>
        </div> 
    </div>
</div>