<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="theme-color" content="#2c8516ff" />
    <link rel="shortcut icon" href="https://login.taiksu.com.br/frontend/img/favicone.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/global.css?v=001">
</head>

    <%- include('../partials/heading')%>
    <body class="min-h-screen mx-auto flex flex-col items-center w-full mt-26 overflow-auto">
        <main class="mx-auto w-full">
            <%- body %>
        </main>
    </body>
</html>